# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# Environment variables
.env
.env.local
.env.production

# Node / Frontend
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Symlinks to centralized logs (created by scripts/log-link.sh)
.logs
.runs

# Docker
*.log

# OS
Thumbs.db
